.u-section-1 .u-sheet-1 {
  min-height: 709px;
}

.u-section-1 .u-product-1 {
  min-height: 600px;
  height: auto;
  margin: 70px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 540px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 512px;
  min-height: 514px;
  height: auto;
  margin: -514px 28px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0 auto 0 -7px;
}

.u-section-1 .u-product-price-1 {
  margin: 60px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -31px auto 0 156px;
  padding: 1px 6px 2px 5px;
}

.u-section-1 .u-text-2 {
  margin: 14px 175px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  letter-spacing: 3px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 10px 65px;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-product-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-group-1 {
    min-height: 383px;
    margin-top: -492px;
    margin-right: -95px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    width: auto;
    margin-top: 59px;
    margin-right: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-1 .u-product-1 {
    min-height: 630px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin: -67px auto -256px -2px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 151px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 39px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 27px;
    margin-left: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1642px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: -49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -55px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.0625rem;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 20px;
    margin-left: 62px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 76px;
    margin-left: auto;
    padding-right: 3px;
    padding-left: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 3px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1302px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 117px;
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 706px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 11px 706px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 706px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 73px auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 706px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 706px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 94px auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 706px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 706px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 71px;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 506px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 506px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 506px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 506px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 506px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 506px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1264px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 452px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 286px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 286px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 286px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 286px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 286px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 286px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 286px;
    margin-bottom: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 304px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 106px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 106px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 106px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 75px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 18px;
    margin-right: 106px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 106px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 18px;
    margin-right: 106px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 11px;
    margin-right: 106px;
    margin-bottom: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 66px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -925px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 26px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-bottom: 60px;
  }
}