.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px auto 0;
  padding: 8px 65px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px auto 60px;
  padding: 8px 65px;
}